.long-button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: 86%;
  min-width: 13rem;
  max-width: 25rem;
  height: 2.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.long-button a {
  color: inherit;
  text-decoration: none;
  font-family: "BOLD";
}
.long-button.primary {
  background-color: #98c1d9;
  border: none;
}
.long-button.primary:hover {
  background-color: #3d5a80;
}
.long-button.primary:hover a {
  color: #000;
}
.long-button.danger {
  background-color: #ee6c4d;
  border: none;
}
.long-button.danger:hover {
  background-color: #eb5935;
}
.long-button.danger:hover a {
  color: #000;
}
.long-button.success {
  background-color: #a9d998;
}
.long-button.success:hover {
  background-color: #3e803d;
}
.long-button.success:hover a {
  color: #000;
}
.long-button.custom {
  border: none;
}
.long-button.custom:hover {
  filter: brightness(70%);
}
.long-button.custom:hover a {
  color: #000;
}
.long-button.disabled {
  background-color: #293241;
  color: #fff;
  cursor: not-allowed;
}
.long-button.disabled:hover {
  background-color: #293241;
}

.short-button-hug {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: auto;
  min-width: 5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #000;
}
.short-button-hug a {
  color: inherit;
  text-decoration: none;
  font-family: "BOLD";
}
.short-button-hug.primary {
  background-color: #98c1d9;
  border: none;
}
.short-button-hug.primary:hover {
  background-color: #3d5a80;
}
.short-button-hug.primary:hover a {
  color: #000;
}
.short-button-hug.danger {
  background-color: #ee6c4d;
  border: none;
}
.short-button-hug.danger:hover {
  background-color: #eb5935;
}
.short-button-hug.danger:hover a {
  color: #000;
}
.short-button-hug.success {
  background-color: #a9d998;
}
.short-button-hug.success:hover {
  background-color: #3e803d;
}
.short-button-hug.success:hover a {
  color: #000;
}
.short-button-hug.custom {
  border: none;
}
.short-button-hug.custom:hover {
  filter: brightness(70%);
}
.short-button-hug.custom:hover a {
  color: #000;
}
.short-button-hug.disabled {
  background-color: #293241;
  color: #fff;
  cursor: not-allowed;
}
.short-button-hug.disabled:hover {
  background-color: #293241;
}

.long-button-flex {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: 86%;
  height: 2.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 0.5rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #000;
}
.long-button-flex a {
  color: inherit;
  text-decoration: none;
  font-family: "BOLD";
}
.long-button-flex.primary {
  background-color: #98c1d9;
  border: none;
}
.long-button-flex.primary:hover {
  background-color: #3d5a80;
}
.long-button-flex.primary:hover a {
  color: #000;
}
.long-button-flex.danger {
  background-color: #ee6c4d;
  border: none;
}
.long-button-flex.danger:hover {
  background-color: #eb5935;
}
.long-button-flex.danger:hover a {
  color: #000;
}
.long-button-flex.success {
  background-color: #a9d998;
}
.long-button-flex.success:hover {
  background-color: #3e803d;
}
.long-button-flex.success:hover a {
  color: #000;
}
.long-button-flex.custom {
  border: none;
}
.long-button-flex.custom:hover {
  filter: brightness(70%);
}
.long-button-flex.custom:hover a {
  color: #000;
}
.long-button-flex.disabled {
  background-color: #293241;
  color: #fff;
  cursor: not-allowed;
}
.long-button-flex.disabled:hover {
  background-color: #293241;
}

.short-button-fixed {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: 10%;
  min-width: 6rem;
  max-width: 8rem;
  height: 2.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.short-button-fixed a {
  color: inherit;
  text-decoration: none;
  font-family: "BOLD";
}
.short-button-fixed.primary {
  background-color: #98c1d9;
  border: none;
}
.short-button-fixed.primary:hover {
  background-color: #3d5a80;
}
.short-button-fixed.primary:hover a {
  color: #000;
}
.short-button-fixed.danger {
  background-color: #ee6c4d;
  border: none;
}
.short-button-fixed.danger:hover {
  background-color: #eb5935;
}
.short-button-fixed.danger:hover a {
  color: #000;
}
.short-button-fixed.success {
  background-color: #a9d998;
}
.short-button-fixed.success:hover {
  background-color: #3e803d;
}
.short-button-fixed.success:hover a {
  color: #000;
}
.short-button-fixed.custom {
  border: none;
}
.short-button-fixed.custom:hover {
  filter: brightness(70%);
}
.short-button-fixed.custom:hover a {
  color: #000;
}
.short-button-fixed.disabled {
  background-color: #293241;
  color: #fff;
  cursor: not-allowed;
}
.short-button-fixed.disabled:hover {
  background-color: #293241;
}

.short-button-hug-small {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  width: auto;
  min-width: 3rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  color: #000;
}
.short-button-hug-small a {
  color: inherit;
  text-decoration: none;
  font-family: "BOLD";
}
.short-button-hug-small.primary {
  background-color: #98c1d9;
  border: none;
}
.short-button-hug-small.primary:hover {
  background-color: #3d5a80;
}
.short-button-hug-small.primary:hover a {
  color: #000;
}
.short-button-hug-small.danger {
  background-color: #ee6c4d;
  border: none;
}
.short-button-hug-small.danger:hover {
  background-color: #eb5935;
}
.short-button-hug-small.danger:hover a {
  color: #000;
}
.short-button-hug-small.success {
  background-color: #a9d998;
}
.short-button-hug-small.success:hover {
  background-color: #3e803d;
}
.short-button-hug-small.success:hover a {
  color: #000;
}
.short-button-hug-small.custom {
  border: none;
}
.short-button-hug-small.custom:hover {
  filter: brightness(70%);
}
.short-button-hug-small.custom:hover a {
  color: #000;
}
.short-button-hug-small.disabled {
  background-color: #293241;
  color: #fff;
  cursor: not-allowed;
}
.short-button-hug-small.disabled:hover {
  background-color: #293241;
}/*# sourceMappingURL=Button.module.css.map */