.child-card-container {
  width: 90%;
}
.child-card {
  font-family: 'REGULAR';
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 1rem;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem 0 0.5rem;
}

.schedule-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1rem;
}

.schedule-item {
  box-sizing: border-box;
  width: 100%;
  font-size: 1rem;
  white-space: nowrap;
  text-align: left;
  overflow: hidden; // 내용이 넘어가면 숨기기
  text-overflow: ellipsis; // 넘치는 내용을 '...'로 표시
}
.memo-container {
  background-color: white;
  border-radius: 3rem;
  overflow: hidden; // 내용이 넘어가면 숨기기
  white-space: nowrap; // 줄바꿈 방지
  text-overflow: ellipsis; // 넘치는 내용을 '...'로 표시
  font-size: 1rem;
  max-width: 80%; // 최대 너비를 80%로 설정
  align-self: flex-start; // 부모 요소의 왼쪽에 배치
  display: flex; // 내부 요소를 flex로 설정 (기본적으로 가로 배치)
  justify-content: center; // 내부 요소를 컨테이너의 중앙에 배치

  margin: 0.5rem 1rem 0.5rem 1rem;
}

.memo-container p {
  font-size: 1rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  width: 100%; // p 태그의 너비를 100%로 설정하여 ellipsis가 적용되도록
}

.tutor-name {
  text-align: left;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  margin: 0.5rem;

  span:first-child {
    font-family: 'BOLD';
    font-weight: 600;
    font-size: 1rem;
  }

  span:last-child {
    font-size: 1rem;
  }
}

.tutor-name p {
  font-size: 1rem;
}

.add-child-button-container {
  padding: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}
@media (max-width: 767px) {
  // 화면이 767px 이하일 때, .schedule-item 3개 표시
  .schedule-item {
    width: calc(30% - 0.5rem); // 0.5rem은 아이템 간 간격을 위한 값
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  // 화면이 768px 이상이고 1023px 이하일 때, .schedule-item 2개 표시
  .schedule-item {
    width: calc(45% - 0.5rem); // 0.5rem은 아이템 간 간격을 위한 값
  }
}

@media (min-width: 1024px) {
  // 화면이 1024px 이상일 때, .schedule-item 3개 표시
  .schedule-item {
    width: calc(30% - 0.5rem); // 0.5rem은 아이템 간 간격을 위한 값
  }
}
