@import "./variables";

@font-face {
  font-family: "NEURIMBO";
  src: url("../assets/fonts/neurimboGothicRegular.otf");
}

@font-face {
  font-family: "BOLD";
  src: url("../assets/fonts/Pretendard-Bold.otf");
}
@font-face {
  font-family: "REGULAR";
  src: url("../assets/fonts/Pretendard-Regular.otf");
}
@font-face {
  font-family: "LIGHT";
  src: url("../assets/fonts/Pretendard-Light.otf");
}
