@import '../../styles/variables';

.row {
  display: block;
}

.justColumn {
  display: flex;
  align-items: center;
}

.column {
  font-size: 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem 1rem 2rem;
}

.personIcon {
  font-size: 1.5rem;
  margin-right: 0.1rem;
  color: $deep-blue;
}
