.iconImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.smallIcon {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  border: solid #cae2f2 thin;
  object-fit: cover;
}

.bigIconEdit {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: solid #cae2f2 thin;
  // overflow: hidden;
  position: relative;
  vertical-align: middle;
}

.editIconDiv {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #98c1d9;
}
