.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.longButton {
  position: absolute;
  bottom: 5%;
}

@media screen and (max-width: 768px) {
  .longButton {
    position: absolute;
    bottom: calc(5% + 3.5rem);
  }
}
