@import "../../styles/variables";

.mainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

.image {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 250px;
}

.title {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
  font-weight: bold;
  color: $deep-green;
}

body {
  background-image: url(../../assets/images/team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}