@import '../.././styles/variables';

.children-card-container {
  margin: 0.5rem;
}
.children-card-container a {
  color: inherit;
  text-decoration: none;
}

.children-card-container a:hover {
  color: $blue-black;
}
