.toSignup {
    height: 6rem;
    position: absolute;
    bottom: 30%;
    text-align: center;
    font-size: 30px;
}

// .navSignup {
//     display: flex;
//     align-items: center;
//     font-size: x-large;
//     font-weight: bold;
//     color: black;
// }