.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.alert-modal-container {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  margin-top: 10%;
  width: 30%;
  height: 15%;
  max-width: 30rem;
  max-height: 20rem;
  min-height: 10rem;
  min-width: 10rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.alert-modal-container p {
  margin: auto;
}

.alert-modal-container button {
  margin-top: auto;
  align-self: center;
}
