@import '../../styles/variables';

.container {
  span {
    cursor: pointer;
  }

  .className {
    display: flex;
    align-items: center;
  }

  .classMemo {
    display: flex;
    // align-items: center;

    input {
      width: 15rem;
    }
    textarea {
      width: 20rem;
      height: 3rem;
      border-radius: 1rem;
      border: solid 0.1rem #cecece;
      padding: 0.5rem 1rem;
      margin-top: 1rem;
    }
  }

  .classSchedule {
    display: flex;
    align-items: center;

    .defaultDay {
      padding: 0.2rem 0.6rem;
    }

    .selectedDay {
      background-color: $light-green;
      color: white;
      padding: 0.2rem 0.6rem;
      border-radius: 70%;
    }
  }

  .selectedSchedule {
    display: flex;
    flex-direction: column;
    align-items: start;

    .scheduleDay {
      margin-top: 1rem;
      margin-left: 5rem;
    }
  }

  .classTags {
    display: flex;
    flex-direction: column;
    .tagInput {
      display: flex;
      align-items: center;
    }
    .tagContainer {
      display: flex;
      margin-left: 5rem;
      flex-wrap: wrap;

      .tag {
        margin-bottom: 1rem;
        span {
          font-size: 1rem;
          background-color: lightgray;
          padding: 0.4rem 1rem;
          border-radius: 1rem;
        }
      }
    }

    .selectedTagContainer {
      display: flex;
      margin-left: 5rem;
      flex-wrap: wrap;
      .tag {
        margin-bottom: 1rem;
        span {
          font-size: 1rem;
          // background-color: lightgray;
          padding: 0.4rem 1rem;
          border-radius: 1rem;
        }
      }
    }
  }

  .classSession {
    display: flex;
    align-items: center;

    input {
      width: 5rem;
    }
  }

  .classStartDate {
    display: flex;
    align-items: center;
  }

  .classStudents {
    display: flex;
    align-items: center;
  }
}
