@import '../../styles/variables';

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}

.addList {
  display: flex;
  flex-wrap: wrap;
}

.studentItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1px solid $light-blue;
  .user {
    cursor: pointer;
    color: #213547;
    display: flex;
    align-items: center;
    p {
      font-family: 'BOLD';
      font-size: 1rem;
    }
  }

  .userButton {
    display: flex;
    align-items: center;

    .deactivate {
      cursor: pointer;
      p {
        font-family: 'BOLD';
        font-size: 1rem;
        color: $gray;
      }
    }
    .deactivate:hover {
      cursor: pointer;
      p {
        font-family: 'BOLD';
        font-size: 1rem;
        color: $red;
      }
    }

    .edit {
      cursor: pointer;
      p {
        font-family: 'BOLD';
        font-size: 1rem;
        color: $gray;
      }
    }
    .edit:hover {
      cursor: pointer;
      p {
        font-family: 'BOLD';
        font-size: 1rem;
        color: $light-blue;
      }
    }
    .addButton {
      cursor: pointer;
      margin: 0rem 0.7rem;
      display: flex;
      align-items: center;
    }
  }
}
