@import '../../../styles/variables';

.row {
  display: block;
}

.column {
  display: flex;
}

.content {
  text-align: left;
  margin-left: 1rem;
  color: $gray;
}

.phoneNumber {
  font-size: 1.5rem;
  color: $blue-black;
}