@import '../../styles/variables';

.MainWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forSpacing {
  height: 4rem;
}

.username-container {
  background-color: transparent;
  border: none;
  border-bottom: solid $light-green thin;
  outline: none;
  width: 10rem;
  font-family: 'BOLD';
  font-size: x-large;
  margin-top: 1.5rem;
  text-align: center;
  padding-bottom: 0.3rem;
}
