.ModalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Modal {
  background-color: pink;

  border-radius: 15px;
  padding: 15px;
  width: 800px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 900px) {
  .Modal {
    background-color: pink;

    border-radius: 15px;
    padding: 15px;
    width: 350px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
