@import '../../styles/variables';

.title-icon {
  color: $light-green;
  margin-right: 1rem;
}

.children-card-container {
  margin: 0.5rem;
}

.children-card-container a {
  color: inherit;
  text-decoration: none;
}

.children-card-container a:hover {
  color: $blue-black;
}
