@import '../../../styles/variables';

.add-child-container {
  border: 2px solid $light-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 50%;
  border-radius: 0.5rem;
  position: relative; // Add this line for absolute positioning of buttons

  @media (max-width: 768px) {
    width: 80%;
  }

  .close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .register-button {
    position: absolute;
    bottom: 1rem;
    align-self: center;
  }
}
