.studentList {
  h3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
  }
  h2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
}
