.NomalPage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100vh;
  .outlet {
    margin: 5%;
    max-width: 750px;
    width: 50%;
  }
  .navBar {
    position: sticky;
    left: 0;
    width: 20%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .NomalPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .outlet {
      margin: 5%;
      max-width: 750px;
      width: 100%;
      height: max-content;
    }
    .navBar {
      position: sticky;
      bottom: 0;
      width: 100%;
    }
  }
}
