.NomalPage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100%;
  .outlet {
    margin: 5%;
  }
}

@media screen and (max-width: 768px) {
  .NomalPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}
