.NomalPage {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  height: 100vh;

  .outlet {
    margin: 5%;
    max-width: 750px;
    width: 50%;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 6px;
    }
    &::-webkit-scrollbar-track {
      background: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background: none;
      // background-color: #f9fafc00;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 1%;
    }
  }
  .navBar {
    position: sticky;
    left: 0;
    width: 20%;
    margin: 0;
    min-width: 210px;
  }
}

@media screen and (max-width: 768px) {
  .NomalPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .outlet {
      margin: 5%;
      max-width: 750px;
      width: 100%;
      height: max-content;
    }
    .navBar {
      position: sticky;
      bottom: 0;
      width: 100%;
    }
  }
}
