.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: start;

  h1 {
    margin-bottom: 0;
  }

  p {
    margin-left: 1rem;
  }
}
.tagContainer {
  display: flex;
}

.scheduleContainer {
  display: flex;
  flex-direction: column;
  text-align: start;

  .scheduleItem {
    margin-left: 1rem;
    span {
      font-size: 1.3rem;
    }
  }
}

.studentContainer {
  display: flex;
  align-items: center;
}
