$index: 3;

.classCard {
  background: pink;
  border-radius: 1rem;
  width: calc(86% - 0.8rem);
  min-width: 12.2rem;
  max-width: 24.2rem;

  padding: 0.8rem;

  &-#{$index} {
    background-color: yellow;
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .tagContainer {
    display: flex;
  }

  .studentContainer {
    display: flex;
    align-items: center;

    h6 {
      margin: 0.5rem;
      font-family: 'BOLD';
    }
  }
}
