/* Loading.scss */
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 1;

  img {
    width: 15rem;
    height: 15rem;
    margin-bottom: 1rem;
  }

  p {
    color: #000;
    font-size: 1.5rem;
  }
}
