@import '../.././styles/variables';

.no-child-container {
  border: 2px dashed #dddddd;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  align-self: center;
  min-height: 15rem;

  border-radius: 0.5rem;
  position: relative;
}
.logo-image {
  margin-top: 1rem;
  width: 5rem;
  height: 5rem;
  align-self: center;
}
