@import '../../styles/variables';

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  justify-content: space-between;
  // flex-direction: column;
}

.createContainer {
  // border-bottom: solid 0.3px $deep-blue;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'BOLD';
  font-size: large;
}

.newInput {
  margin-left: 1rem;
  border-radius: 0px;
  border-color: white;
  border-bottom: 0.1rem solid $light-blue;
  font-family: 'BOLD';
  font-size: large;
  outline: none;
}
