@import '../../../styles/variables';

.NavBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: $deep-blue;
  height: 100vh;
  width: 100%;
  color: white;

  .selected {
    display: flex;
    align-items: center;

    span {
      color: $light-blue;
    }
  }
  .default {
    display: flex;
    align-items: center;
    span {
      color: white;
    }
  }
}

@media screen and (max-width: 768px) {
  .NavBar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;

    span {
      font-size: 0.5rem;
    }
  }
}
